extends layout 

block content
  div
    a(href='/brands') #{'Brands'}
    span= ' > '
    a(href=brand.url) #{brand.name}
    span= ' > '
    a(href=`/brands/${brand.name}/${model}`) #{model}
    span= ' > ' + seriesInfo.series

  h2= title
  div(class='add')
    a(href='../../../series/' + seriesInfo.series + '/' + seriesInfo._id + '/update') Edit #{seriesInfo.series} Series #{' '}
    span=' - ' 
    a(href='../../../series/' + seriesInfo.series + '/' + seriesInfo._id + '/delete') Delete #{seriesInfo.series} Series

  div(class='series-info')
    if (seriesInfo.description)
        div 
            h4= 'Description:'
            p= seriesInfo.description
    
    if (seriesInfo.features.length)
        div 
            h4= 'Features:'
            ul 
            each feature in seriesInfo.features 
                li= feature

    if (seriesInfo.colors.length)
        div
            h4= 'Colors:'
            ul
            each color in seriesInfo.colors 
                li= color
    if (lowPrice)
        div 
        h4= 'Price: '
        p= 'From $' + lowPrice

        
        
  

  h3= 'All ' + title + ' Guitars'

  div(class='add')
    a(href='/guitars/create?brand=' + brand._id + '&model=' + model + '&series=' + seriesInfo.series) Add a new #{brand.name} #{model} #{seriesInfo.series} Guitar


  ul(class='all')
    each guitar in guitarList
      li 
        a(href=`/brands/${brand.name}/${model}/${seriesInfo.series}/${guitar.serialNum}`) #{guitar.series}
        span= ` - Color: ${guitar.color}, Price:  $${guitar.price}`
    else 
      li There are no guitars
