extends layout 

block content
  div
    a(href='../') #{'Brands'}
    span= ' > '
    a(href=brand.url) #{brand.name}
    span= ' > ' + model


  h2= title
  div(class='add')
    a(href='../../models/' + model + '/' + modelID + '/update') Edit #{model} Model 
    span=' - ' 
    a(href='../../models/' + model + '/' + modelID + '/delete') Delete #{model} Model

  h3= model + ' Series'
  div(class='add')
    a(href='/series/create?brand=' + brand._id + '&model=' + model) Add a new #{brand.name} #{model} Series

  ul(class='series')
    each guitar in seriesList
      li 
        a(href= model + '/' + guitar.series) #{guitar.series}
    else 
      li The are no guitars

  h3= 'All ' + title
  ul(class='all')
    each guitar in guitarList
      li 
        a(href= model + '/' + guitar.series + '/' + guitar.serialNum) #{guitar.series}
        span= ` - Color: ${guitar.color}, Price:  $${guitar.price}`
    else 
      li The are no guitars
