extends layout 

block content
  div
    a(href='../') #{'Brands'}
    span= ' > '
    a(href=brand.url) #{brand.name}
    span= ' > ' + model


  h1= title

  h2= model + ' Series'
  ul
    each guitar in seriesList
      li 
        a(href= guitar.url) #{guitar.series}
    else 
      li The are no guitars

  h2= 'All ' + title
  ul
    each guitar in guitarList
      li 
        a(href=guitar.url) #{guitar.series}
        span= ` - Color: ${guitar.color}, Price:  $${guitar.price}`
    else 
      li The are no guitars
