extends layout 

block content
  div
    a(href='/brands') #{'Brands'}
    span= ' > '
    a(href=brand.url) #{brand.name}
    span= ' > '
    a(href=`/brands/${brand.name}/${model}`) #{model}
    span= ' > ' + seriesInfo.series

  h1= title
  span
    a(href='../../../series/' + seriesInfo.series + '/' + seriesInfo._id + '/update') Edit #{seriesInfo.series} Series #{' '}
    a(href='../../../series/' + seriesInfo.series + '/' + seriesInfo._id + '/delete') Delete #{seriesInfo.series} Series


  if (seriesInfo.description)
    div 
        h3= 'Description:'
        p= seriesInfo.description
  
  if (seriesInfo.features.length)
    div 
        h3= 'Features:'
        ul 
        each feature in seriesInfo.features 
            li= feature

  if (seriesInfo.colors.length)
    div
        h3= 'Colors:'
        ul
        each color in seriesInfo.colors 
            li= color
  if (lowPrice)
    div 
      h3= 'Price: '
      p= 'From $' + lowPrice

        
        
  

  h2= 'All ' + title + ' Guitars'

  a(href='/guitars/create?brand=' + brand._id + '&model=' + model + '&series=' + seriesInfo.series) Add a new #{brand.name} #{model} #{seriesInfo.series} Guitar


  ul
    each guitar in guitarList
      li 
        a(href=`/brands/${brand.name}/${model}/${seriesInfo.series}/${guitar.serialNum}`) #{guitar.series}
        span= ` - Color: ${guitar.color}, Price:  $${guitar.price}`
    else 
      li There are no guitars
