extends layout 

block content
  div
    a(href='/brands') #{'Brands'}
    span= ' > '
    a(href=brand.url) #{brand.name}
    span= ' > '
    a(href=`/brands/${brand.name}/${model}`) #{model}
    span= ' > '
    a(href=`/brands/${brand.name}/${model}/${seriesInfo.series}`) #{seriesInfo.series}
    span= ' >  Serial: ' + guitar.serialNum

  h2= title

  div(class='add')
    a(href='../../../../guitars/' + guitar._id + '/update') Edit This Guitar #{' '}
    span=' - ' 
    a(href='../../../../guitars/' + guitar._id + '/delete') Delete This Guitar

  div(class='guitar-info')
    h3= 'This Guitar'

    ul
        li= 'Color: ' + guitar.color
        li= 'Price: $' + guitar.price
        li= 'Serial: ' + guitar.serialNum

    h3= title + ' Details:'

    if (seriesInfo.description)
        div 
            h4= 'Description:'
            p= seriesInfo.description
    
    if (seriesInfo.features.length)
        div 
            h4= 'Features:'
            ul 
            each feature in seriesInfo.features 
                li= feature

    if (seriesInfo.colors)
        div
            h4= 'Colors:'
            ul
            each color in seriesInfo.colors 
                li= color
    if (lowPrice)
        div 
        h4= 'Price: '
        p= 'From $' + lowPrice

    
