extends layout 

block content 
    h2= title 
    a(href='guitars/create') Add a new Guitar
    ul 
        each brand in brandList 
            h3= brand.name
            - let modelCount = false
            each model in modelList
                if (model.brand.toString() == brand._id.toString())
                    -modelCount = true
                    h4= model.model + 's'
                    -let seriesCount = false
                    each series in seriesList
                        if (series.model == model.model && series.brand.toString() == brand._id.toString())
                            -seriesCount = true
                            div(class='guitar-list-series')
                                h5= series.series
                                a(class='add-light'  href=`guitars/create?brand=${brand._id}&model=${model.model}&series=${series.series}`) Add a new #{series.series} Guitar

                                -let guitarCount = false
                                each guitar in guitarList
                                    if (guitar.brand.toString() == brand._id.toString() && guitar.model == model.model && guitar.series == series.series)
                                        -guitarCount = true
                                        li 
                                            a(href=`../brands/${brand.name}/${model.model}/${series.series}/${guitar.serialNum}`) Serial: #{guitar.serialNum}, Price: $#{guitar.price}, Color: #{guitar.color}
                                if !guitarCount
                                    li There are no guitars 
                    if !seriesCount
                        li There are no series
            if !modelCount
                li There are no models
